{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link href={% static "myblog_app/css/signin.css" %} rel="stylesheet">
{% endblock %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <h1>Change Password</h1>

    <div class="form-group">
        <main class="form-signin">
            <form method="POST">
                {% csrf_token %}
                <div class="form-floating">
                    <input type="password" class="form-control" id="id_old_password" placeholder="Password"
                           name="old_password" required="">
                    <label for="floatingPassword">Old Password</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" id="id_new_password1" placeholder="Password"
                           name="new_password1" required="">
                    <label for="floatingPassword">New Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="id_new_password2" placeholder="Confirm Password"
                           name="new_password2" required="">
                    <label for="floatingPassword">Confirm Password</label>
                </div>
                <br>
                <button class="w-50 btn btn-lg btn-primary" type="submit">Change Password</button>
            </form>
            <br>
            <a href="{% url 'edit_profile' %}" class="w-50 btn btn-lg btn-primary">Cancel</a>
        </main>
    </div>
{% endblock %}